{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ restaurant.name }}{% endblock %}

{% block content %}
    <div class='grid_8'>
        <div class="box radius">
            <div class="padded">
                <h2 class="headline radius"><strong>{{ restaurant.name }}</strong></h2>
                <div id="top-destination-panel" class="radius">
                    <strong>Address:</strong> {{ restaurant.address }}<br />
                    <strong>Postal Code:</strong> {{ restaurant.postal_code }}<br />
                    {% if restaurant.phone_num %}
                        <strong>Phone Number:</strong> {{ restaurant.phone_num }}<br />
                    {% endif %}
                    <strong>Capacity:</strong> {{ restaurant.capacity }}<br />
                    <div class="clear">&nbsp;</div>
                </div>
                <a href='{% url reservation restaurant.id %}' class='btn'>Create a Reservation</a>
            </div>
        </div>
    </div>
    <div class='grid_4'>
        <div class="box radius">
            <div class="padded">
                <h2 class="headline radius"><strong>Location</strong></h2>
                <div id="top-destination-panel" class="radius">
                    <div id="map_canvas" style="height:267px;"></div>
                    <div class="clear">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block bottom-google-js %}
<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2.x&key={{ MAPS_ID }}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var map = new GMap2(document.getElementById('map_canvas'));
        var center = new GLatLng({{ restaurant.lat }} , {{ restaurant.lon }});
        map.setCenter(center, 15);

        var bounds = map.getBounds();
        var point = new GLatLng({{ restaurant.lat }}, {{ restaurant.lon }});
        marker = new GMarker(point);
        map.addOverlay(marker);
        GEvent.addListener(marker, "click", function() {
            window.location='{{ restaurant.get_absolute_url }}';
        });
        map.addControl(new GSmallMapControl());



});
</script>
{% endblock %}
